{% extends "base.html" %}

{% block title %}AI/IA{% endblock %}

{% block body %}
  <h1>{{ current_user.username }}</h1>
  <h1>Welcome to AI/IA</h1>
  <p> your child's gateway to mastering the alphabet with the power of artificial intelligence! 

    At AI/IA, we believe in making learning fun, interactive, and accessible for children of all ages. With our innovative approach, we've combined the latest advancements in AI technology with engaging educational content to create a dynamic learning experience like no other.
    
    Our mission is simple: to help children develop strong foundational skills in literacy while sparking their curiosity and imagination. Through our interactive lessons, games, and activities, children will embark on an exciting journey through the alphabet, discovering letters, phonics, and vocabulary in a captivating and intuitive way.
    
    Powered by cutting-edge AI algorithms, our platform adapts to each child's unique learning style, providing personalized feedback and guidance to support their progress every step of the way. Whether your child is a visual learner, an auditory learner, or a hands-on learner, AI/IA ensures a tailored learning experience that keeps them motivated and engaged.
    
    With AI/IA, learning the alphabet becomes an adventure filled with discovery, creativity, and endless possibilities. Join us today and let your child unlock the wonders of literacy with the help of AI!</p>
  
  <div class="container" style="margin-top: 100px; margin-bottom: 200px;">
    <a href="https://www.tbceducation.ge/"><img src="/static/tbc-long.jpg" alt="tbc" style="width: 100%; cursor: pointer;"></a>
    <br><br>
    <img src="/static/COVER.png" alt="ai" style="width: 100%;">
  </div>

{% endblock %}
