<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="#" style="  font-family: Freeman, sans-serif;
    font-weight: 400; font-style: normal;"><h1>AI/IA</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/review">Add Review</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reviews">Reviews</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/registration">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/authorization">Authorization</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="https://www.tbceducation.ge/">
                        <img src="{{ url_for('static', filename='tbc.jpg') }}" class="img-fluid" alt="TBC" style="height: 40px;">
                    </a>
                </li>
            </ul>         
            {% endif %}

        </ul>
    </div>
</nav>